@using TalentPool.Interviews 

@inject IUserIdentifier UserIdentifier
@model TalentPool.Web.Models.InterviewViewModels.QueryInterviewViewModel 

@{
    ViewData["PageHeader"] = "面试预约管理";
    ViewData["Title"] = "面试预约列表"; 
}

<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-sm">
            @await Html.PartialAsync("Partials/_ActionPartial", new ActionViewModel("新增面试预约", "/Resume/List", Pages.Interview_CreateOrEditOrDelete, "btn btn-sm btn-primary", "fas fa-plus"))
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <div class="card-body table-responsive">

        <form asp-action="List" method="get">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>关键词</label>
                        <input type="text" class="form-control" placeholder="请输入面试者姓名" name="Keyword" value="@Model.Output.Parameter.Keyword">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>创建人</label>
                        @if (Model.Output.Parameter.CreatorUserId != null)
                        {
                            <input type="hidden" value="@Model.Output.Parameter.CreatorUserId" name="CreatorUserId">
                        }
                        else
                        {
                            <input type="hidden" value="@Guid.Empty" name="CreatorUserId">
                        }
                        <select class="form-control" id="creatorUserIdSelect" asp-items="@Model.Users">
                            <option value="@Guid.Empty">=请选择创建人=</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>预约时间</label>
                        <input type="text" class="form-control" placeholder="请选择预约时间" id="createdDaterangepicker">
                        <input type="hidden" class="form-control" value="@Model.Output.Parameter.StartTime" readonly name="StartTime">
                        <input type="hidden" class="form-control" value="@Model.Output.Parameter.EndTime" readonly name="EndTime">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>预约状态</label>
                        <input type="hidden" value="@Model.Output.Parameter.Status" name="Status">
                        <select class="form-control" id="statusSelect" asp-items="@Html.GetEnumSelectList<InterviewStatus>()">
                            <option value="">=请选择预约状态=</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                        搜索
                    </button>
                    <button type="button" class="btn btn-danger" id="btnExport">
                        <i class="fas fa-file-export"></i>
                        导出
                    </button>
                </div>
            </div>
        </form>
        <div class="row table-responsive">
            <div class="col-md-12">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>职位</th>
                            <th>手机号</th>
                            <th>预约时间</th>
                            <th>预约人</th>
                            <th>状态</th>
                            <th>到访时间</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Output.Items)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.JobName</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.AppointmentTime.ToString("yyyy年MM月dd日 HH:mm")</td>
                                <td>@item.CreationTime</td>
                                <td>@item.Status.GetDescription("/")</td>
                                <td>@item.VisitedTime?.ToString("yyyy年MM月dd日 HH:mm")</td>
                                <td>@item.Remark</td>
                                <td>
                                    <div class="btn-group  btn-group-sm" role="group">
                                        <button id="group-dropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-cog"></i> 操作菜单
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="group-dropdown">
                                            @await Html.PartialAsync("Partials/_ActionPartial", new ActionViewModel("查看", "/Interview/View/" + item.Id, Pages.Interview, "dropdown-item"))
                                            @if (item.Status == InterviewStatus.None)
                                            {
                                                @await Html.PartialAsync("Partials/_ActionPartial", new ActionViewModel("编辑", "/Interview/Edit/" + item.Id, Pages.Interview_CreateOrEditOrDelete, "dropdown-item"))
                                                @await Html.PartialAsync("Partials/_ActionPartial", new ActionViewModel("履约/爽约", "/Interview/Change/" + item.Id, Pages.Interview_CreateOrEditOrDelete, "dropdown-item"))
                                                @await Html.PartialAsync("Partials/_ActionPartial", new ActionViewModel("取消预约", "/Interview/Cancel/" + item.Id, Pages.Interview_CreateOrEditOrDelete, "dropdown-item"))
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        @await Html.PartialAsync("Partials/_PaginationPartial", Model.Output)
    </div>
</div>


@section styles {
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/lib/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(function () {
            //调查日期
            var startDate = $("input[name='StartTime']").val(), endDate = $("input[name='EndTime']").val();
            $("#createdDaterangepicker").daterangepicker({
                timePicker: true,
                ranges: {
                    '最近7天': [moment().subtract(6, 'days'), moment()],
                    '最近30天': [moment().subtract(29, 'days'), moment()],
                    '这个月': [moment().startOf('month'), moment().endOf('month')],
                    '上个月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                locale: {
                    format: 'YYYY/MM/DD HH:mm',
                    applyLabel: '确定',
                    cancelLabel: '取消',
                    daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                        '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    firstDay: 1,
                    customRangeLabel: "自定义范围"
                },
                startDate: startDate,
                endDate: endDate
            }, function (start, end, label) {
                $("input[name='StartTime']").val(start.format('YYYY/MM/DD HH:mm'));
                $("input[name='EndTime']").val(end.format('YYYY/MM/DD HH:mm'));

            });


            //负责人
            $("#creatorUserIdSelect").val($("input[name='CreatorUserId']").val());
            $("#creatorUserIdSelect").change(function () {
                $("input[name='CreatorUserId']").val($("#creatorUserIdSelect").val());
            })

            //预约状态
            $("#statusSelect").val($("input[name='Status']").val());
            $("#statusSelect").change(function () {
                $("input[name='Status']").val($("#statusSelect").val());
            })

            // 导出excel
            $("#btnExport").click(function () {
                if (!confirm("你确定导出当前数据吗？"))
                    return;
                var model = {
                    Keyword: $("input[name='Keyword']").val(),
                    CreatedBy: $("input[name='CreatedBy']").val(),
                    StartedTime: $("input[name='StartedTime']").val(),
                    EndedTime: $("input[name='EndedTime']").val(),
                    Status: $("input[name='Status']").val(),
                };
                var form = $("<form>");
                form.attr('style', 'display:none');
                form.attr('method', 'post');
                form.attr('action', '/Interview/Export');
                for (var element in model) {
                    var input = $('<input>');
                    input.attr('type', 'hidden');
                    input.attr('name', element);
                    input.attr('value', model[element]);
                    form.append(input);
                }
                $('body').append(form);
                form.submit();
                form.remove();
            })
        })
    </script>
}

