@using  TalentPool.Investigations
@model TalentPool.Web.Models.ReportViewModels.OuputViewModel
@{
    ViewData["PageHeader"] = "日报告";
    ViewData["Title"] = "日报 - " + DateTime.Now.Date.ToString("yyyy/MM/dd");
}
<div class="card border-0">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-rss"></i>
            日报 - @Model.Date
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-export">
                <i class="fas fa-file-export"></i>
                导出报告
            </button>
        </div>
    </div>
    <div class="card-body">
        <dl>
            <dt>下载点记录</dt>
            @if (!string.IsNullOrEmpty(Model.Summary))
            {
                <dd>@Html.Raw(Model.Summary)</dd>
            }
            else
            {
                <dd class="text-col">无记录</dd>
            }
            <dt>职位筛选情况</dt>
            <dd><u>投递数量</u>：@Model.JobStatisticTotalInfo.DeliveryCount 份 / <u>搜索数量</u>：@Model.JobStatisticTotalInfo.SearchCount 份</dd>
            @if (Model.JobStatisticTotalInfo != null && Model.JobStatisticTotalInfo.JobStatisticInfo.Count > 0)
            {
                foreach (var jobStatisticModel in Model.JobStatisticTotalInfo.JobStatisticInfo)
                {
                    <dd>
                        @jobStatisticModel.JobName ：共 @jobStatisticModel.Count 份
                    </dd>
                }
            }
            else
            {
                <dd>无可统计数据</dd>
            }
            <dt>简历筛选情况</dt>
            @if (Model.ResumeStatisticInfo != null && Model.ResumeStatisticInfo.Count > 0)
            {
                foreach (var resumeStatisticModel in Model.ResumeStatisticInfo)
                {
                    <dd>
                        @resumeStatisticModel.CreatorUserName ：共 @resumeStatisticModel.Count 份
                    </dd>
                }
            }
            else
            {
                <dd>无可统计数据</dd>
            }
            <dt>意向调查情况</dt>
            @if (Model.InvestigationStatisticInfo != null && Model.InvestigationStatisticInfo.Count > 0)
            {
                foreach (var item in Model.InvestigationStatisticInfo)
                {
                    <dd>@item.Name ：共调查人数 @item.TotalCount 人 (其中 @item.AcceptCount 人愿意 ， @item.RefuseCount 人拒绝 ， @item.ConsiderCount 人考虑 ， @item.MissedCount 人未接)</dd>
                }
            }
            else
            {
                <dd>无可统计数据</dd>
            }
            <dt>面试预约情况</dt>
            @foreach (var item in Model.InterviewStatisticTotalInfo.InterviewStatisModels)
            {
                <dd>@item.JobName ：预约人数 @item.TotalCount 人 / 实到人数 @item.VisitedCount 人  </dd>

            }
            <dd>失约人员统计：</dd>
            <dd> 
                <table class="table table-border">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>职位</th>
                            <th>预约时间</th>
                            <th>原因</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InterviewStatisticTotalInfo.UninterviewModels)
                        {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.JobName</td>
                            <td>@item.AppointmentTime.ToString("yyyy/MM/dd HH:mm")</td>
                            <td>@item.Remark</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </dd>
        </dl>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-pen-alt"></i>
                    意向调查结果
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-default">
                        <i class="fas fa-question-circle"></i>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                时间
                            </th>
                            <th>
                                姓名
                            </th>
                            <th>
                                电话
                            </th>
                            <th>
                                职位
                            </th>
                            <th>
                                来源
                            </th>
                            <th>
                                调查人
                            </th>
                            <th>
                                调查时间
                            </th>
                            <th>
                                是否接受出差
                            </th>
                            <th>
                                籍贯
                            </th>
                            <th>
                                现居住城市
                            </th>

                            <th>
                                面试时间
                            </th>
                            <th>
                                是否合适
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Investigations)
                        {
                            var bgColor = "";
                            if (item.Status == InvestigationStatus.NoStart)// 未开始
                            {
                                bgColor = "";
                            }
                            else if (item.Status == InvestigationStatus.Ongoing)// 正在进行中
                            {

                                if (!item.IsConnected.HasValue || !item.IsConnected.Value)//未接通
                                {
                                    bgColor = "bg-secondary";
                                }
                                else
                                {
                                    bgColor = "bg-blue";
                                    if (item.AcceptTravelStatus == AcceptTravelStatus.Consider)//考虑
                                    {
                                        bgColor = "bg-yellow";
                                    }
                                }
                            }
                            else
                            {

                                if (item.AcceptTravelStatus == AcceptTravelStatus.Refuse)//不接受
                                {
                                    bgColor = "";
                                }
                                else
                                {
                                    /*
                                    接受的情况下
                                     */
                                    if (!item.IsQualified.HasValue || !item.IsQualified.Value)//不合适
                                    {
                                        bgColor = "";
                                    }
                                    else
                                    {
                                        bgColor = "bg-green";
                                    }
                                }
                            }

                            <tr class="@bgColor">
                                <td>
                                    @item.CreationTime.ToString("yyyy-MM-dd")
                                </td>
                                <td>
                                    @item.Name
                                    @if (!item.IsConnected.HasValue || !item.IsConnected.Value)
                                    {
                                        <i>(未接)</i>
                                    }
                                </td>
                                <td>
                                    @item.PhoneNumber
                                </td>
                                <td>
                                    @item.JobName
                                </td>
                                <td>
                                    @item.PlatformName
                                </td>
                                <td>
                                    @item.OwnerUserName
                                </td>
                                <td>
                                    @item.InvestigateDate.ToString("yyyy-MM-dd")
                                </td>

                                <td>
                                    @item.AcceptTravelStatus.GetDescription("/")
                                </td>
                                <td>
                                    @item.CityOfDomicile
                                </td>
                                <td>
                                    @item.CityOfResidence
                                </td>

                                <td>
                                    @item.ExpectedInterviewDate
                                </td>
                                <td>
                                    @if (item.IsQualified.HasValue)
                                    {
                                        if (item.IsQualified.Value)
                                        {
                                            <span>合适</span>
                                        }
                                        else
                                        {
                                            <span>不合适</span>
                                        }

                                    }
                                    else
                                    {
                                        <span>/</span>
                                    }
                                </td>

                                <td>
                                    <div class="btn-group  btn-group-sm" role="group">
                                        <button id="group-dropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-cog"></i> 操作菜单
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="group-dropdown">
                                            <a target="_blank" class="dropdown-item" href="/Resume/View/@item.ResumeId">查看简历</a>
                                            <a target="_blank" class="dropdown-item" href="/Investigation/View/@item.Id">查看意向调查</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">颜色标记说明</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol>
                    <li>
                        <span class="">未开始调查状态(默认)</span>
                    </li>
                    <li>
                        正在进行调查的情况
                        <small>(如果已接通电话且完成调查，请手动确定完成)</small>
                        <ol>
                            <li><span class="bg-secondary">电话未接通</span></li>
                            <li>
                                <span class="bg-blue">
                                    电话已接通(另约时间技术评测或未更新调查状态)
                                </span>
                                <ol>
                                    <li><span class="bg-yellow">考虑出差</span></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        已完成调查的情况
                        <ol>
                            <li><span class="">不考虑</span></li>
                            <li>
                                愿意出差
                                <ol>
                                    <li><span class="">不合适</span></li>
                                    <li><span class="bg-green">合适</span></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-export">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">日报告导出选项</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> <form method="post" action="/Report/Export">
                <div class="modal-body">

                    <input type="hidden" name="Date" value="@Model.Date" />
                    @if (Model.JobStatisticTotalInfo != null && Model.JobStatisticTotalInfo.JobStatisticInfo != null)
                    {
                        foreach (var item in Model.JobStatisticTotalInfo.JobStatisticInfo)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" checked name="Job.@item.JobName" id="Job#@item.JobName">
                                <label class="form-check-label" for="Job#@item.JobName">@item.JobName</label>
                            </div>
                        }
                    }
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>