@model PaginationModel<Van.TalentPool.Application.Users.UserDto>
@{
    ViewData["PageHeader"] = "用户管理";
    ViewData["Title"] = "用户列表";
}


<div class="row">
    <div class="col-12">
        @await Html.PartialAsync("Partials/_ActionPartial", new ActionViewModel("新建用户", "/User/Create", Pages.Authorization_User_Create, "btn btn-primary", "fas fa-plus"))
    </div>
</div>


<div class="card mt-3">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <form asp-action="List" method="get">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="请输入关键词（姓名、用户名）" name="Keyword" autocomplete="off" value="@Model.Parameter.Keyword">
                </div>
                <div class="col-md-6  text-md-right">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                        搜索
                    </button>
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>账户</th>
                            <th>邮箱</th>
                            <th>手机号</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @if (string.IsNullOrEmpty(item.Photo))
                                    {
                                        <img src="/img/default-avator.jpeg" class="img-circle" width="32" />
                                    }
                                    else
                                    {
                                        <img src="@item.Photo" class="img-circle" width="32" />
                                    }
                                </td>
                                <td>@item.Surname @item.Name </td>
                                <td>@item.UserName</td>
                                <td>
                                    @item.Email
                                    @if (item.EmailConfirmed)
                                    {
                                        <span class="badge badge-success" title="已验证邮箱"><i class="fas fa-check"></i></span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger"  title="未验证邮箱"><i class="fas fa-times"></i></span>
                                    }
                                </td>
                                <td>
                                    @item.PhoneNumber
                                    @if (item.PhoneNumberConfirmed)
                                    {
                                        <span class="badge badge-success" title="已验证手机号"><i class="fas fa-check"></i></span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger"  title="未验证手机号"><i class="fas fa-times"></i></span>
                                    }
                                </td>
                                <td>
                                    @if (item.Active)
                                    {
                                        <span class="badge badge-success">正常</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-secondary">不可用</span>
                                    }
                                </td>
                                <td>
                                    <div class="btn-group  btn-group-sm">
                                        @await Html.PartialAsync("Partials/_ActionPartial", new ActionViewModel("查看", "/User/View/" + item.Id, Pages.Authorization_User, "btn btn-default"))
                                        @await Html.PartialAsync("Partials/_ActionPartial", new ActionViewModel("编辑", "/User/Edit/" + item.Id, Pages.Authorization_User_Edit, "btn btn-default"))
                                        @await Html.PartialAsync("Partials/_ActionPartial", new ActionViewModel("分配角色", "/User/AssignRole/" + item.Id, Pages.Authorization_User_AssignRole, "btn btn-default"))
                                        @await Html.PartialAsync("Partials/_ActionPartial", new ActionViewModel("删除", "/User/Delete/" + item.Id, Pages.Authorization_User_Delete, "btn btn-danger"))
                                    </div>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        @await Html.PartialAsync("Partials/_PaginationPartial", Model)
    </div>
</div>
