@model Van.TalentPool.Web.Models.EvaluationViewModels.EvaluationViewModel

@{
    ViewData["PageHeader"] = "技术评测管理";
    ViewData["Title"] = "查看技术评测 - " + Model.Title;
}
<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>

            <div class="card-body">
                <ol class="subject-list">
                    @if (Model.Subjects != null)
                    {
                        foreach (var subject in Model.Subjects)
                        {
                            <li class="border-bottom mb-md-2 p-md-2">
                                <dl>
                                    <dt class="text-blue">@subject.Keyword <span class="badge badge-success">@subject.Weight</span> </dt> 
                                    <dd>@subject.Description</dd>
                                    <dd>
                                        <ol class="question-list">
                                            @if (subject.Questions != null)
                                            {
                                                foreach (var question in subject.Questions)
                                                {
                                                    <li>
                                                        <dl>
                                                            <dt class="text-blue">@question.Description</dt>
                                                            @if (!string.IsNullOrEmpty(question.ReferenceAnswer))
                                                            {
                                                                <dd>@Html.Raw(question.ReferenceAnswer.Replace("\n", "<br/>"))</dd>
                                                            }
                                                        </dl>
                                                    </li>
                                                }
                                            }
                                        </ol>
                                    </dd>
                                </dl>
                            </li>
                        }
                    }
                </ol>
            </div>
            <div class="card-footer">
                <a asp-action="List" class="btn btn-default">返回列表</a>
            </div>
        </div>
    </div>
</div>
