@model Van.TalentPool.Web.Models.ResumeViewModels.AuditSettingViewModel
@{
    ViewData["Header"] = "简历审批设置";
    ViewData["Title"] = "设置简历审批流程";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">简历审批设置</h3>
    </div>
    <div class="card-body">
        <blockquote class="quote-success">
            <h5>简历审批流程</h5>
            <ol>
                <li>按以下人员列表的顺序从上到下进行审批；</li>
                <li>最后一位审批人员通过审批后触发完成事件；</li>
            </ol>
        </blockquote>
        <div class="audit-list">
            @for (int i = 0; i < Model.AuditSettings.Count; i++)
            {
                var examinationSetting = Model.AuditSettings[i];
                <div class="form-group audit-item">
                    <div class="input-group input-group-lg mb-3">
                        <input type="hidden" value="@examinationSetting.UserId" name="UserId" />
                        <input type="hidden" value="@examinationSetting.UserName" name="UserName" />

                        <div class="input-group-prepend audit-handle">
                            <span class="btn btn-default">
                                <i class="fas fa-arrows-alt"></i>
                            </span>
                        </div>
                        <select class="form-control" id="userSelect" onchange="changeUser(this)">
                            <option value="">=请选择用户=</option>
                            @foreach (var user in Model.Users)
                            {
                                if (user.Id == examinationSetting.UserId)
                                {
                                    <option selected value="@user.Id">@user.FullName</option>
                                }
                                else
                                {
                                    <option value="@user.Id">@user.FullName</option>

                                }

                            }
                        </select>
                        <div class="input-group-prepend">
                            <div class="btn-group">
                                <button class="btn btn-default" title="在此之前添加一项" onclick="createBefore(this)"><i class="fas fa-plus"></i></button>
                                <button class="btn btn-danger" title="移除此项" onclick="removeElement(this)"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <button type="button" class="btn btn-default" onclick="addUser(this)">
                <i class="fas fa-plus"></i>
                添加一项
            </button>
        </div>

    </div>
    <div class="card-footer">
        <button type="button" onclick="examinationSettingPost()" class="btn btn-primary">保存</button>
    </div>
</div>

@section scripts{
    <script src="~/lib-ext/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $('.audit-list').sortable({
                placeholder: 'sort-highlight',
                handle: '.audit-handle',
                forcePlaceholderSize: true,
                zIndex: 99999
            });
        })
        function changeUser(selectObj) {
            var userId = $(selectObj).val();
            var userName = $(selectObj).find("option:selected").text();
            $(selectObj).prevAll("input[name='UserId']").val(userId);
            $(selectObj).prevAll("input[name='UserName']").val(userName);
        }

        function createElement() {
             var users = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Users))');
            var htmlTemplate = [];
            htmlTemplate.push('<div class="form-group audit-item" >');
            htmlTemplate.push('<div class="input-group input-group-lg mb-3">');
            htmlTemplate.push('<input type="hidden" value="" name="UserId" />');
            htmlTemplate.push('<input type="hidden" value="" name="UserName" />');
            htmlTemplate.push('<div class="input-group-prepend audit-handle">');
            htmlTemplate.push('<span class="btn btn-default">');
            htmlTemplate.push('<i class="fas fa-arrows-alt"></i>');
            htmlTemplate.push('</span>');
            htmlTemplate.push('</div>');
            htmlTemplate.push('<select class="form-control" id="userSelect" onchange="changeUser(this)">');
            htmlTemplate.push('<option value="">=请选择用户=</option>');
            for (var i = 0; i < users.length; i++) {
                htmlTemplate.push('<option value="' + users[i].Id + '">' + users[i].FullName + '</option>');
            }
            htmlTemplate.push('</select>');

            htmlTemplate.push('<div class="input-group-prepend">');
            htmlTemplate.push('<div class="btn-group">');
            htmlTemplate.push('<button type="button" class="btn btn-default" title="在此之前添加一项" onclick="createBefore(this)"><i class="fas fa-plus"></i></button>');

            htmlTemplate.push(' <button class="btn btn-danger" title="移除此项" onclick="removeElement(this)"><i class="fas fa-trash"></i></button>');
                                 htmlTemplate.push('</div> ');
                            htmlTemplate.push('</div>');
            htmlTemplate.push('</div>');
            htmlTemplate.push('</div>');
            return htmlTemplate.join('');
        }
        function addUser(btnObj) {
            var element = createElement();
            $(btnObj).before(element);
        }
        //在此项之前创建一个
        function createBefore(btnObj) {
            var $currentElement = $(btnObj).parents(".audit-item");
            var element = createElement();
          $currentElement.before(element);
        }

        //移除
        function removeElement(btnObj) {
            var $currentElement = $(btnObj).parents(".audit-item");
            $currentElement.remove();
        }
        function examinationSettingPost() {
            var model = {
                AuditSettings:[]
            };
            var elements = $(".audit-item");
            for (var i = 0; i < elements.length; i++) {
                var userId = $(elements[i]).find("input[name='UserId']").val();
                var userName = $(elements[i]).find("input[name='UserName']").val();
                model.AuditSettings.push({
                    UserId: userId,
                    UserName: userName
                });
            }

            $.post("/Resume/AuditSetting", model, function (res) {
                location.reload();
            })
        }
    </script>
}